@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/Content/styles/Chemist.css" rel="stylesheet" />
    <link href="~/Content/styles/Home.css" rel="stylesheet" />
</head>

<style></style>

<main>
    <section class="" aria-labelledby="aspnetTitle">
        <div class="landing-page">
            <header>
                <div></div>
                <div class="logo">
                    <a href="#" onclick="">
                        <img src="~/Content/img/logo.png" alt="Desi Care Logo">
                    </a>
                </div>
            </header>
            <div class="ld__content">
                <div class="text_left">
                    <h2 class="heading">
                        <p>Your</p>
                        <p>health</p>
                        <p>is our</p>
                        <p>PRIORITY</p>
                    </h2>
                </div>
                <div class="mimgtxt">
                    <div class="model_name">
                        <span>Ambassador</span>
                        <p>Kelly Piquet</p>
                    </div>
                    <div class="landing_model">
                        <img src="~/Content/img/doctor.png" alt="Landing Page Model">
                    </div>
                    <div class="cave__style_1"></div>
                </div>
                <div class="text_right">
                    <h3>
                        For Your Family's Health Needs
                    </h3>
                    <p>
                        We have the knowledge and tools
                        to fulfill the particular healthcare
                        needs of your family, from
                        pediatric care to geriatric care.   
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>