@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/styles/Chemist.css" rel="stylesheet" />
</head>

<main>
    <section class="" aria-labelledby="aspnetTitle">

    </section>
</main>